<h1>{{ question.question_text }}</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% else %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    <!-- 1.由于我们发送了一个POST请求，就必须考虑一个跨站请求伪造的安全问题，简称CSRF
        2.如果是用ajax的方式提交数据，那么就不能用这个方法了。 -->
    {% csrf_token %}
    <!-- 使用Python的代码poll.choice_set.all(),它将返回一组可迭代的Choice对象 -->
    {% for choice in question.choice_set.all %}
        <!-- forloop.counter是DJango模板系统专门提供的一个变量，用来表示你当前循环的次数，一般用来给循环项目添加有序数标。 -->
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
</form>
{% endif %}